
.textbox{
	  text-align: center;
  	position: absolute;
  	top: 50%;
  	left: 20%;
  	transform: translate(-50%, -50%);
	color: rgb(255, 255, 255);
	padding-top: 1px;;
	font-family: Verdana;
	font-size: 20px;
	line-height: 35px;
}
img{
	height: 150px;

}
a:link{
	color:white;

}
a:visited{
	color:white;

}
a:active{
	color: white;
}