.box{
	  background-color: rgb(0,0,0);
  	background-color: rgba(0, 0, 0, 0.24);
  	color: rgb(0, 0, 0);
  	font-weight: bold;
  	border: 3px solid #000000;
  	position: absolute;
  	top: 55%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	z-index: 2;
  	width: 30%;
	height: 300px;  
	  padding: 200px;
  	border-top-right-radius: 20px;
  	border-top-left-radius: 20px;
  	border-bottom-left-radius: 20px;
  	border-bottom-right-radius: 20px;
}	
.textbox{
	  text-align: center;
  	position: absolute;
  	top: 55%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	  color: rgb(255, 255, 255);
	padding-top: 1px;;
	font-family: Verdana;
	font-size: 20px;
	line-height: 35px;
}
img{
	height: 150px;

}
